<h1>All Posts</h1>
<section>
    {{#each posts}}
    <article>
        <h3><a href="/post/{{_id}}">{{title}}</a></h3>
        <p>{{url}}</p>
        <a href="/n/{{subreddit}}">/n/{{subreddit}}</a>
        <div>{{summary}}</div>
    </article>
    {{/each}}
</section>
<ul>
    {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
    {{/if}}
    <a href="/posts/new">create new post</a>
</ul>