<h1>Threadit!</h1>
<h2>The front thread on the internet.</h2>
<section>
{{#each posts}}
    <article>
        <h3><a href="/posts/{{this._id}}">{{this.title}}</a></h3>
        <p>{{this.url}}</p>
        <div>{{this.summary}}</div>
    </article>
{{/each}}
</section>
<ul>
    {{#if currentUser}}
        <li><a href="/logout">Logout</a></li>
    {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
    {{/if}}
    <a href="/posts/new">create new post</a>
</ul>