<a href="/posts/all">Home</a>
{{#each post}}
<h1>{{this.title}}</h1>
<p>{{this.url}}</p>
<a href="/n/{{this.subreddit}}">/n/{{this.subreddit}}</a>
<div class="text-right">{{this.subreddit}}</div>
<div>
    {{this.content}}
</div>
{{/each}}
