<a href="/">Home</a>

    <h1>{{post.title}}</h1>

    <p>{{post.url}}</p>


    <div class="text-right"> <a href="/n/{{post.subreddit}}"> /n/{{post.subreddit}}</a></div>
    <p>{{post.author.username}}</p>
    <div>
        {{post.content}}
    </div>

    <form action="/post/{{post._id}}/comments" method="POST" >
        <textarea class='form-control' name="comment" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>

    {{#each post.comments}} 
    <div class="comment">
        <p>{{this.author.username}}</p>  
       <p> {{this.comment}}</p>
    </div>
    {{/each}}
