<a href="/">Home</a>

    <h1>{{post.title}}</h1>

    <p>{{post.url}}</p>


    <div class="text-right">{{post.subreddit}}</div>

    <div>
        {{post.content}}
    </div>

    <form action="/posts/{{post._id}}/comments" method="POST" >
        <textarea class='form-control' name="comment" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>

    {{#each post.comments}}   
    <p>{{this}}</p>
    {{/each}}
    <p>view post</p>